@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    * {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
        --color-secondary: #53c38b;
    }
    html, body {
        @apply bg-slate-900 w-screen max-w-full overflow-x-hidden text-slate-200
    }
    .title {
        @apply bg-gradient-to-b from-[var(--color-secondary)] to-gray-200;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}