@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    * {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
        --color-secondary: #53c38b;
    }
    html, body {
        @apply  w-screen max-w-full overflow-x-hidden 
    }
    input, textarea {
        @apply bg-transparent border-2 border-gray-700 rounded-md px-4 py-1.5 outline-none
    }
    .light {
        background-color: #f8f8f8;
        color: #333;
        /* Add other light mode styles */
      }
      
      .dark {
        background-color: #333;
        color: #f8f8f8;
        /* Add other dark mode styles */
      }
    .title {
        @apply bg-gradient-to-b from-[var(--color-secondary)] to-gray-500;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .item{
        @apply flex gap-20 my-16 items-center flex-row odd:flex-row-reverse
    }
    /* .item:nth-child(2n){
        @apply flex-row-reverse
    } */
    .animate-image{
        animation: move 3s infinite ease alternate;
    }
    @keyframes move {
        from {  
            transform: translateY(-15px);
        }
        to {
            transform: translateY(0px)  scale(1.03);
        }
    }
}